
.items-but{
    padding: 5px !important;
}
.parent {
    display: flex;
    justify-content: space-around;
}
.nameuppercae{
    text-transform: uppercase;
}
.button-deconnect{
    width: 80%;
    margin-left: 25px;
    border-radius: 10px;
    border:none;
    height: 40px;
}